<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ActivityMain"
            android:exported="true" />
        <activity
            android:name=".NavFirst"
            android:exported="true" />
        <activity
            android:name=".NavSecond"
            android:exported="true" />
        <activity
            android:name=".NavThird"
            android:exported="true" />

    </application>

</manifest>
